      .page .content-area .messages .title {
        text-transform: uppercase;
        padding: 0.4em;
        color: #fff;
        background-color: #fe9000;
        width: fit-content;
        line-height: 1.2;
      }

      .page .content-area .messages .message-container {
        line-height: 1;
        margin-top: 0.5em;
        font-size: 0.8em;
        max-width: 200px;
        word-break: break-word;
      }

      .page .content-area .messages .message-container .message-date {
        font-size: 0.7em;
        margin-left: 0.4em;
        color: #6b6f79;
      }

      .page .content-area .messages .message-container .message {
        padding: 0.5em;
        border-radius: 0.4em;
      }

      .page .content-area .messages .other-person-msg {
        background-color: #dbe7f7;
      }
    
